# [Издательство]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Издательство]    Script Date: 20.02.2023 17:31:15 ******/
CREATE DATABASE [Издательство]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Издательство', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Издательство.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Издательство_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Издательство_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
ALTER DATABASE [Издательство] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Издательство].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Издательство] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Издательство] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Издательство] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Издательство] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Издательство] SET ARITHABORT OFF 
GO
ALTER DATABASE [Издательство] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Издательство] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Издательство] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Издательство] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Издательство] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Издательство] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Издательство] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Издательство] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Издательство] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Издательство] SET  DISABLE_BROKER 
GO
ALTER DATABASE [Издательство] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Издательство] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Издательство] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Издательство] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Издательство] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Издательство] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Издательство] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Издательство] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [Издательство] SET  MULTI_USER 
GO
ALTER DATABASE [Издательство] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Издательство] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Издательство] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Издательство] SET TARGET_RECOVERY_TIME = 0 SECONDS 
GO
ALTER DATABASE [Издательство] SET DELAYED_DURABILITY = DISABLED 
GO

# [dbo].[obsh]

In [0]:
USE [Издательство]
GO

In [0]:
/****** Object:  UserDefinedFunction [dbo].[obsh]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[obsh] (@ID int)
returns int as begin
declare @x int 
select @x=ОбщаяСтоимость from Заказ where Номер = @ID
return @x
end
GO

# [dbo].[Автор]

In [0]:
/****** Object:  Table [dbo].[Автор]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автор](
	[ФИО] [varchar](60) NOT NULL,
	[Пол] [char](1) NULL,
	[НомерТелефона] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[ФИО] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Договор]

In [0]:
/****** Object:  Table [dbo].[Договор]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Договор](
	[Номер] [int] NOT NULL,
	[НомерРукописи] [int] NOT NULL,
	[ФИОАвтора] [varchar](60) NOT NULL,
	[ДатаЗаключения] [date] NOT NULL,
	[ОплатаАвтору] [real] NULL,
	[Тираж] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Заказ]

In [0]:
/****** Object:  Table [dbo].[Заказ]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказ](
	[Номер] [int] NOT NULL,
	[IDКлиента] [int] NOT NULL,
	[ДатаЗаказа] [date] NULL,
	[ТипОплаты] [varchar](20) NULL,
	[ОбщаяСтоимость] [int] NULL,
 CONSTRAINT [PK__Заказ__063C4BF6C0572CB3] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Заявка]

In [0]:
/****** Object:  Table [dbo].[Заявка]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заявка](
	[НомерЗаявки] [int] NOT NULL,
	[ФИО] [varchar](100) NOT NULL,
	[Телефон] [varchar](50) NOT NULL,
	[Ссылка] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Заявка] PRIMARY KEY CLUSTERED 
(
	[НомерЗаявки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Клиент]

In [0]:
/****** Object:  Table [dbo].[Клиент]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиент](
	[Id] [int] NOT NULL,
	[ФИО] [varchar](50) NULL,
	[НомерТелефона] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Книга]

In [0]:
/****** Object:  Table [dbo].[Книга]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книга](
	[ID] [int] NOT NULL,
	[Название] [varchar](40) NOT NULL,
	[Автор] [varchar](60) NOT NULL,
	[НомерРукописи] [int] NULL,
	[КолвоСтраниц] [int] NULL,
	[Переплёт] [varchar](20) NULL,
	[Обложка] [varchar](20) NULL,
	[Стоимость] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Работа]

In [0]:
/****** Object:  Table [dbo].[Работа]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Работа](
	[ID] [int] NOT NULL,
	[IDКниги] [int] NOT NULL,
	[НомерСотрудника] [int] NOT NULL,
	[ТипРаботы] [varchar](25) NOT NULL,
	[ДатаОкончания] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Рукопись]

In [0]:
/****** Object:  Table [dbo].[Рукопись]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Рукопись](
	[Номер] [int] NOT NULL,
	[Номер заявки] [int] NULL,
	[ФИОАвтора] [varchar](60) NOT NULL,
	[ПринятаВРвботу] [varchar](3) NULL,
 CONSTRAINT [PK__Рукопись__063C4BF634184457] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[СоставЗаказа]

In [0]:
/****** Object:  Table [dbo].[СоставЗаказа]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставЗаказа](
	[НомерЗаказа] [int] NOT NULL,
	[IDКниги] [int] NOT NULL,
	[КолвоКниг] [int] NOT NULL,
 CONSTRAINT [PK__СоставЗа__027D128BDB1C4A5D] PRIMARY KEY CLUSTERED 
(
	[НомерЗаказа] ASC,
	[IDКниги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Сотрудник]

In [0]:
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Номер] [int] NOT NULL,
	[ФИО] [varchar](40) NOT NULL,
	[Должность] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[filtr0]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[filtr0]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[filtr0]
(	
@price1 int ,
	@price2 int ,
	@page1 int ,
	@page2 int ,
	@obl varchar(20)
)
RETURNS TABLE 
AS
 return 
	
 select top 50 Название, Автор, КолвоСтраниц, Переплёт, Обложка, Стоимость from Книга where ((Стоимость between @price1 and @price2) AND (КолвоСтраниц between @page1 and @page2) AND (Обложка like '%'+@obl+'%')) 
	


GO

# [dbo].[filtr1]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[filtr1]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[filtr1]
(	
@price1 int ,
	@price2 int ,
	@page1 int ,
	@page2 int ,
	@obl varchar(20)
)
RETURNS TABLE 
AS
 return 
	
 select top 50 Название, Автор, КолвоСтраниц, Переплёт, Обложка, Стоимость from Книга where ((Стоимость between @price1 and @price2) AND (КолвоСтраниц between @page1 and @page2) AND (Обложка like '%'+@obl+'%')) order by Название 
	


GO

# [dbo].[filtr2]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[filtr2]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[filtr2]
(	
@price1 int ,
	@price2 int ,
	@page1 int ,
	@page2 int ,
	@obl varchar(20)
)
RETURNS TABLE 
AS
 return 
	
 select top 50 Название, Автор, КолвоСтраниц, Переплёт, Обложка, Стоимость from Книга where ((Стоимость between @price1 and @price2) AND (КолвоСтраниц between @page1 and @page2) AND (Обложка like '%'+@obl+'%')) order by Автор  
	


GO

# [dbo].[filtr3]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[filtr3]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[filtr3]
(	
@price1 int ,
	@price2 int ,
	@page1 int ,
	@page2 int ,
	@obl varchar(20)
)
RETURNS TABLE 
AS
 return 
	
 select top 50 Название, Автор, КолвоСтраниц, Переплёт, Обложка, Стоимость from Книга where ((Стоимость between @price1 and @price2) AND (КолвоСтраниц between @page1 and @page2) AND (Обложка like '%'+@obl+'%')) order by Стоимость
	


GO

# [dbo].[filtr4]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[filtr4]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[filtr4]
(	
@price1 int ,
	@price2 int ,
	@page1 int ,
	@page2 int ,
	@obl varchar(20)
)
RETURNS TABLE 
AS
 return 
	
 select top 50 Название, Автор, КолвоСтраниц, Переплёт, Обложка, Стоимость from Книга where ((Стоимость between @price1 and @price2) AND (КолвоСтраниц between @page1 and @page2) AND (Обложка like '%'+@obl+'%')) order by КолвоСтраниц
	


GO

# [dbo].[kogda]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[kogda]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[kogda] (@data1 date, @data2 date)
returns table as return
select * from Договор where ДатаЗаключения between @data1 and @data2

GO

# [dbo].[search]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[search]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[search] (@par varchar(100))
returns table as return
select * from Книга where Название like '%'+@par+'%' or  Автор like '%'+@par+'%'

GO

# [dbo].[search1]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[search1]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[search1] (@par varchar(100))
returns table as return
select Название, Автор, Переплёт, Обложка, КолвоСтраниц, Стоимость from Книга where Название like '%'+@par+'%' or  Автор like '%'+@par+'%'
GO

# [dbo].[searchavtor]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searchavtor]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[searchavtor] (@par varchar(100))
returns table as return
select * from Автор where ФИО like '%'+@par+'%' 
GO

# [dbo].[searchclient]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searchclient]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[searchclient] (@par varchar(100))
returns table as return
select * from Клиент where ФИО like '%'+@par+'%' or  НомерТелефона like '%'+@par+'%'

GO

# [dbo].[searchcru]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searchcru]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[searchcru] (@par varchar(100))
returns table as return
select * from Рукопись where ФИОАвтора like '%'+@par+'%' 




GO

# [dbo].[searchdogov]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searchdogov]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[searchdogov] (@par varchar(100))
returns table as return
select * from Договор where ФИОАвтора like '%'+@par+'%'


GO

# [dbo].[searchzz]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searchzz]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[searchzz] (@par varchar(100))
returns table as return
select * from Заявка where ФИО like '%'+@par+'%'
GO

# [dbo].[searcsotr]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[searcsotr]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[searcsotr] (@par varchar(100))
returns table as return
select * from Сотрудник where ФИО like '%'+@par+'%' or Должность like '%'+@par+'%' 




GO

# [dbo].[show1]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[show1]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[show1]()
returns table as return
SELECT dbo.Работа.ID, dbo.Работа.IDКниги, dbo.Сотрудник.ФИО, dbo.Работа.ТипРаботы, dbo.Работа.ДатаОкончания
FROM     dbo.Работа INNER JOIN
                  dbo.Сотрудник ON dbo.Работа.НомерСотрудника = dbo.Сотрудник.Номер 
GO

# [dbo].[showzakaz]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[showzakaz]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[showzakaz] ()
returns table as return 
select Номер as 'Номер заказа', ФИО as 'ФИО клиента', ДатаЗаказа as 'Дата заказа', ТипОплаты as 'Тип оплаты', ОбщаяСтоимость as 'Общая стоимость' from Заказ, Клиент
where IDКлиента=Клиент.Id
GO

# [dbo].[sotrpr]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[sotrpr]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE FUNCTION [dbo].[sotrpr]
(	
	@book int 
)
RETURNS TABLE 
AS
RETURN 
select ФИО, ТипРаботы from Сотрудник, Работа where Сотрудник.Номер=Работа.НомерСотрудника and Работа.IDКниги=@book
GO

# [dbo].[show]

In [0]:
/****** Object:  View [dbo].[show]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[show]
AS
SELECT     dbo.Работа.ID, dbo.Книга.Название, dbo.Сотрудник.ФИО, dbo.Работа.ТипРаботы, dbo.Работа.ДатаОкончания
FROM        dbo.Работа INNER JOIN
                  dbo.Сотрудник ON dbo.Работа.НомерСотрудника = dbo.Сотрудник.Номер INNER JOIN
                  dbo.Книга ON dbo.Работа.IDКниги = dbo.Книга.ID
GO

# [dbo].[Автор]

In [0]:
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Абрамович Анжелика Эминовна', N'ж', N'89034088220')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Агеев Сергей Олегович', N'м', N'89776543476')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Агейкина Жасмина Виталиевна', N'ж', N'89319548866')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Андреюшкина Мариам Владиленовна', N'ж', N'89199220622')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Антипова Вероника Максимовна', N'ж', N'87652873465')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Аргамакова Аида Семеновна', N'ж', N'89577722134')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Аюшиева Майя Владиленовна', N'ж', N'89046739585')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Бабанова Александра Владимировна', N'ж', N'89510281545')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Благово София Брониславовна', N'ж', N'89998887623')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Блинова Софья', N'ж', N'89998886534')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Блинова Софья Павловна', N'ж', N'89532621037')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Богоносцев Богдан Титович', N'м', N'89443169183')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Большакова Амина Павловна', N'ж', N'89592255588')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Бонч-Бруевич Фока Михаилович', N'м', N'89998944792')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Васильева Анна Николаевна', N'ж', N'894653')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Вельяминова Галина Антоновна', N'ж', N'89245533199')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Воронова Варвара Олеговна', N'ж', N'89423299800')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Гершкович Тарас Даниярович', N'м', N'89592726845')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Голотина Сафия Рустамовна', N'ж', N'89382732996')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Грачёва Мирослава Андреевна', N'ж', N'89403010918')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Гудкова Оливия Андреевна', N'ж', N'89889854956')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Гунин Валентин Артёмович', N'м', N'89269316911')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Данькин Иннокентий Панкратиевич', N'м', N'89309603120')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Домашев Онуфрий Егорович', N'м', N'89167848590')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Доронин Артур Валерьевич', N'м', N'89357709209')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Елешев Вадим Евграфович', N'м', N'89848634583')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Ефремович Юрий Михайлович', N'м', N'89578668614')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Зотов Мирослав Ираклиевич', N'м', N'89068447113')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Зубова Ульяна Андреевна', N'ж', N'89852797173')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Иванов Иван Иванович', N'м', N'89653762365')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Иканова Вера Александровна', N'ж', N'89138241987')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Исакова Ярослава Германовна', N'ж', N'89693525349')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Казнов Ефрем Сергеевич', N'м', N'89756060403')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Казьмина Доминика Алексеевна', N'ж', N'89656544614')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Канунникова Глафира Богдановна', N'ж', N'89492339463')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Карамышева Марфа Аркадьевна', N'ж', N'89956433485')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Карасев Александр Андронович', N'м', N'89493457307')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Катков Агап Агапович', N'м', N'89849803460')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Киселева Николь Якововна', N'ж', N'89039345371')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Клименкова Василиса Фомевна', N'ж', N'89941723871')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Кочерёжкина Алсу Егоровна', N'ж', N'89953910817')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Красоткин Евдоким Даниилович', N'м', N'89700264397')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Кузьмина Алиса Александровна', N'ж', N'89361346714')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Кунаковский Адам Агапович', N'м', N'89934320535')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Курбанов Савелий Эрнестович', N'м', N'89815373662')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Лагутова Тея Рафаэльевна', N'ж', N'89350296836')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Лепёхин Мирон Анатолиевич', N'м', N'89948404928')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Максимушкина Стефания Святославовна', N'ж', N'89564249313')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Мамыкин Мефодий Викторович', N'м', N'89852030113')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Мизенова Алисия Анатольевна', N'ж', N'89858784276')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Минина Василина Тимофеевна', N'ж', N'89553495674')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Михальченкова Таисия Дмитриевна', N'ж', N'89330580685')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Муратов Остап Аркадьевич', N'м', N'89676227395')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Мышкина Ираида Несторовна', N'ж', N'89677108550')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Набиуллина Альфия Матвеевна', N'ж', N'89732091728')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Низова Айлин Данильевна', N'ж', N'89750357564')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Никольский Родион Венедиктович', N'м', N'89085764216')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Нужнов Измаил Саввевич', N'м', N'89699081959')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Нырцева Амира Викторовна', N'ж', N'89650404469')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Окулова Ясмин Степановна', N'ж', N'89268631969')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Онипченко Эмир Глебович', N'м', N'89713235368')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Островская Стела Михайловна', N'ж', N'89026684560')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Панарина Элина Каримовна', N'ж', N'89437422487')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Папенин Рафаэль Даниярович', N'м', N'89418431795')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Плахтюрин Павел Адамович', N'м', N'89783915639')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Подшивалова Инесса Олеговна', N'ж', N'89357404220')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Позона Софья Вадимовна', N'ж', N'89517063710')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Прохоренко Константин Яковлевич', N'м', N'89439243854')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Прудников Осип Станиславович', N'м', N'89812777728')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Рабинович Мартын Ибрагимович', N'м', N'89361459921')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Репин Валерий Пахомович', N'м', N'89108092381')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Ретюнских Ростислав Моисеевич', N'м', N'89863244280')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Рябков Чеслав Федорович', N'м', N'89191911792')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Савельева Миа Марсельевна', N'ж', N'89212525184')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Свечников Назар Изяславович', N'м', N'89696280394')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Сергеев Сергей', N'м', N'898734')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Сигаев Никита Филиппович', N'м', N'89608791850')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Сильвестров Игнатий Мартьянович', N'м', N'89908760829')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Сиякаев Изяслав Филимонович', N'м', N'89169051426')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Смирновский Прокофий Ильевич', N'м', N'89538421655')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Стегнова Станислава Брониславовна', N'ж', N'89395600471')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Толстоброва Злата Святославовна', N'ж', N'89777938837')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Трофимов Эмин Святославович', N'м', N'89416544448')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Турышев Глеб Куприянович', N'м', N'89405102509')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Усатов Федот Трофимович', N'м', N'89472942840')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Фуриков Роберт Климентович', N'м', N'89390699402')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Хамидуллина Клара Елизаровна', N'ж', N'89931978893')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Хомякова Жанна Богдановна', N'ж', N'89169842249')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Цельнера Евангелина Федотовна', N'ж', N'89899258029')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Чалый Ипполит Еремеевич', N'м', N'89685131761')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Чеботарева Марина Матвеевна', N'ж', N'89046600882')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Чехов Стефан Максимович', N'м', N'89207239507')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Чупахин Эрнест Саввевич', N'м', N'89360429468')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Чурсунова Фатима Эминовна', N'ж', N'89355312774')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Шульгин Прохор Родионович', N'м', N'89951941348')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Щитт Леон Карлович', N'м', N'89034370966')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Щитт Сергей Сергеевич', N'м', N'89245588323')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Юневич Игорь Олегович', N'м', N'89902305769')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Яблоков Давид Кондратиевич', N'м', N'89376285167')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Ягодников Добрыня Лукич', N'м', N'89931648022')
GO

In [0]:
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Яналова Милана Добрынична', N'ж', N'89945714117')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Янсона Елена Анатолиевна', N'ж', N'89366664788')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Янышева Эльвира Рафаэльевна', N'ж', N'89129060280')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Ярский Кир Львович', N'м', N'89047211970')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Яхненко Фома Вадимович', N'м', N'89405433413')
INSERT [dbo].[Автор] ([ФИО], [Пол], [НомерТелефона]) VALUES (N'Ящина Лидия Максимовна', N'ж', N'89088762731')
GO

# [dbo].[Договор]

In [0]:
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (1, 1, N'Сигаев Никита Филиппович', CAST(N'2020-02-10' AS Date), 30215, 426)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (2, 2, N'Прохоренко Константин Яковлевич', CAST(N'2022-09-02' AS Date), 13571, 1421)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (3, 3, N'Яхненко Фома Вадимович', CAST(N'2022-03-29' AS Date), 68372, 1071)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (4, 6, N'Смирновский Прокофий Ильевич', CAST(N'2022-02-09' AS Date), 43753, 1957)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (5, 8, N'Сильвестров Игнатий Мартьянович', CAST(N'2022-07-11' AS Date), 116230, 1036)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (6, 9, N'Прудников Осип Станиславович', CAST(N'2021-03-22' AS Date), 22671, 389)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (7, 11, N'Гершкович Тарас Даниярович', CAST(N'2021-07-02' AS Date), 50993, 521)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (8, 14, N'Юневич Игорь Олегович', CAST(N'2022-04-01' AS Date), 101929, 840)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (9, 15, N'Кунаковский Адам Агапович', CAST(N'2021-12-12' AS Date), 79192, 565)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (10, 16, N'Усатов Федот Трофимович', CAST(N'2020-07-27' AS Date), 105797, 622)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (11, 19, N'Чалый Ипполит Еремеевич', CAST(N'2021-03-08' AS Date), 140240, 311)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (12, 21, N'Шульгин Прохор Родионович', CAST(N'2022-01-05' AS Date), 118748, 923)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (13, 22, N'Зотов Мирослав Ираклиевич', CAST(N'2022-01-10' AS Date), 27738, 1192)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (14, 24, N'Карасев Александр Андронович', CAST(N'2021-01-10' AS Date), 41430, 1632)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (15, 27, N'Красоткин Евдоким Даниилович', CAST(N'2020-02-15' AS Date), 124207, 1215)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (16, 28, N'Ягодников Добрыня Лукич', CAST(N'2022-01-24' AS Date), 139780, 460)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (17, 29, N'Свечников Назар Изяславович', CAST(N'2022-07-11' AS Date), 116829, 1252)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (18, 32, N'Бонч-Бруевич Фока Михаилович', CAST(N'2022-01-17' AS Date), 122308, 1443)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (19, 34, N'Мамыкин Мефодий Викторович', CAST(N'2021-06-02' AS Date), 30437, 1724)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (20, 35, N'Яблоков Давид Кондратиевич', CAST(N'2021-02-23' AS Date), 92656, 935)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (21, 37, N'Чупахин Эрнест Саввевич', CAST(N'2022-03-15' AS Date), 28791, 1266)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (22, 40, N'Елешев Вадим Евграфович', CAST(N'2021-10-01' AS Date), 72059, 198)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (23, 41, N'Катков Агап Агапович', CAST(N'2021-03-05' AS Date), 52473, 1905)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (24, 42, N'Ярский Кир Львович', CAST(N'2020-08-26' AS Date), 113777, 410)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (25, 45, N'Чехов Стефан Максимович', CAST(N'2022-08-21' AS Date), 68812, 376)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (26, 47, N'Доронин Артур Валерьевич', CAST(N'2021-04-21' AS Date), 81400, 1385)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (27, 48, N'Онипченко Эмир Глебович', CAST(N'2020-03-29' AS Date), 17160, 1162)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (28, 50, N'Щитт Сергей Сергеевич', CAST(N'2022-04-08' AS Date), 33696, 405)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (29, 53, N'Канунникова Глафира Богдановна', CAST(N'2020-01-24' AS Date), 68366, 413)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (30, 54, N'Кузьмина Алиса Александровна', CAST(N'2021-09-02' AS Date), 83939, 157)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (31, 55, N'Мизенова Алисия Анатольевна', CAST(N'2021-11-22' AS Date), 39145, 1153)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (32, 58, N'Яналова Милана Добрынична', CAST(N'2021-07-22' AS Date), 110268, 1649)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (33, 60, N'Нырцева Амира Викторовна', CAST(N'2020-04-18' AS Date), 63373, 164)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (34, 61, N'Стегнова Станислава Брониславовна', CAST(N'2022-04-05' AS Date), 147034, 1872)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (35, 63, N'Янышева Эльвира Рафаэльевна', CAST(N'2020-04-25' AS Date), 40995, 171)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (36, 66, N'Агейкина Жасмина Виталиевна', CAST(N'2021-09-08' AS Date), 98514, 401)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (37, 67, N'Хомякова Жанна Богдановна', CAST(N'2020-08-20' AS Date), 73388, 838)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (38, 68, N'Исакова Ярослава Германовна', CAST(N'2020-11-01' AS Date), 122213, 856)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (39, 71, N'Цельнера Евангелина Федотовна', CAST(N'2021-05-01' AS Date), 92175, 1510)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (40, 73, N'Грачёва Мирослава Андреевна', CAST(N'2022-07-05' AS Date), 51598, 1733)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (41, 74, N'Набиуллина Альфия Матвеевна', CAST(N'2022-06-13' AS Date), 63059, 1833)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (42, 76, N'Казьмина Доминика Алексеевна', CAST(N'2020-04-09' AS Date), 48948, 338)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (43, 79, N'Низова Айлин Данильевна', CAST(N'2022-10-11' AS Date), 82368, 687)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (44, 80, N'Ящина Лидия Максимовна', CAST(N'2020-07-30' AS Date), 15646, 1584)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (45, 81, N'Позона Софья Вадимовна', CAST(N'2022-10-15' AS Date), 126619, 844)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (46, 84, N'Толстоброва Злата Святославовна', CAST(N'2021-03-04' AS Date), 137457, 630)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (47, 86, N'Островская Стела Михайловна', CAST(N'2022-10-05' AS Date), 131020, 1014)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (48, 87, N'Зубова Ульяна Андреевна', CAST(N'2020-05-02' AS Date), 120242, 501)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (49, 89, N'Аюшиева Майя Владиленовна', CAST(N'2022-01-19' AS Date), 62483, 1710)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (50, 92, N'Вельяминова Галина Антоновна', CAST(N'2022-04-08' AS Date), 102547, 1697)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (51, 93, N'Панарина Элина Каримовна', CAST(N'2022-07-28' AS Date), 135374, 454)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (52, 94, N'Окулова Ясмин Степановна', CAST(N'2022-11-04' AS Date), 112614, 1155)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (53, 97, N'Голотина Сафия Рустамовна', CAST(N'2021-03-10' AS Date), 53898, 286)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (54, 99, N'Мышкина Ираида Несторовна', CAST(N'2020-05-19' AS Date), 26309, 1932)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (55, 100, N'Хамидуллина Клара Елизаровна', CAST(N'2020-02-13' AS Date), 56366, 1572)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (56, 102, N'Позона Софья Вадимовна', CAST(N'2022-10-15' AS Date), 149355, 481)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (57, 105, N'Толстоброва Злата Святославовна', CAST(N'2021-01-03' AS Date), 36192, 1842)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (58, 106, N'Карамышева Марфа Аркадьевна', CAST(N'2020-08-03' AS Date), 96743, 1674)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (59, 107, N'Островская Стела Михайловна', CAST(N'2020-09-07' AS Date), 34259, 1227)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (60, 110, N'Аюшиева Майя Владиленовна', CAST(N'2021-10-07' AS Date), 66140, 1417)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (61, 112, N'Подшивалова Инесса Олеговна', CAST(N'2022-03-31' AS Date), 87946, 582)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (62, 113, N'Вельяминова Галина Антоновна', CAST(N'2021-05-13' AS Date), 44871, 793)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (63, 115, N'Мамыкин Мефодий Викторович', CAST(N'2022-07-18' AS Date), 54122, 1548)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (64, 118, N'Чупахин Эрнест Саввевич', CAST(N'2021-04-26' AS Date), 37381, 438)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (65, 119, N'Ретюнских Ростислав Моисеевич', CAST(N'2022-01-06' AS Date), 142534, 286)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (66, 120, N'Рябков Чеслав Федорович', CAST(N'2022-09-29' AS Date), 147790, 1166)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (67, 123, N'Ярский Кир Львович', CAST(N'2021-12-06' AS Date), 90330, 1785)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (68, 125, N'Рабинович Мартын Ибрагимович', CAST(N'2021-04-25' AS Date), 26294, 514)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (69, 126, N'Чехов Стефан Максимович', CAST(N'2022-04-27' AS Date), 123116, 740)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (70, 128, N'Доронин Артур Валерьевич', CAST(N'2022-02-09' AS Date), 126842, 1552)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (71, 131, N'Щитт Сергей Сергеевич', CAST(N'2020-11-21' AS Date), 142460, 975)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (72, 132, N'Иканова Вера Александровна', CAST(N'2022-07-04' AS Date), 69094, 1402)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (73, 133, N'Абрамович Анжелика Эминовна', CAST(N'2020-04-10' AS Date), 34391, 939)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (74, 136, N'Юневич Игорь Олегович', CAST(N'2022-07-03' AS Date), 31617, 219)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (75, 138, N'Усатов Федот Трофимович', CAST(N'2020-04-04' AS Date), 23058, 1513)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (76, 139, N'Гунин Валентин Артёмович', CAST(N'2021-10-03' AS Date), 13592, 1367)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (77, 141, N'Чалый Ипполит Еремеевич', CAST(N'2020-03-16' AS Date), 34034, 631)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (78, 144, N'Зотов Мирослав Ираклиевич', CAST(N'2022-04-10' AS Date), 141382, 604)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (79, 145, N'Андреюшкина Мариам Владиленовна', CAST(N'2021-04-20' AS Date), 81903, 1183)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (80, 146, N'Чеботарева Марина Матвеевна', CAST(N'2020-03-23' AS Date), 59361, 1223)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (81, 149, N'Грачёва Мирослава Андреевна', CAST(N'2022-01-17' AS Date), 129745, 1566)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (82, 1, N'Сигаев Никита Филиппович', CAST(N'2020-02-14' AS Date), 30000, 564)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (83, 151, N'Иванов Иван Иванович', CAST(N'2020-02-10' AS Date), 10000, 456)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (92, 153, N'Сергеев Сергей', CAST(N'2022-11-28' AS Date), 15000, 120)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (93, 4, N'Нужнов Измаил Саввевич', CAST(N'2022-11-28' AS Date), 12000, 234)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (94, 5, N'Сиякаев Изяслав Филимонович', CAST(N'2022-11-28' AS Date), 15000, 234)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (95, 7, N'Никольский Родион Венедиктович', CAST(N'2020-02-10' AS Date), 15000, 400)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (96, 12, N'Фуриков Роберт Климентович', CAST(N'2022-11-29' AS Date), 10000, 250)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (97, 156, N'Блинова Софья Павловна', CAST(N'2022-11-29' AS Date), 10456, 234)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (98, 31, N'Репин Валерий Пахомович', CAST(N'2022-11-30' AS Date), 25000, 123)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (99, 157, N'Блинова Софья', CAST(N'2022-11-30' AS Date), 25000, 150)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (100, 65, N'Янсона Елена Анатолиевна', CAST(N'2022-11-30' AS Date), 13000, 567)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (101, 13, N'Казнов Ефрем Сергеевич', CAST(N'2022-11-30' AS Date), 58000, 600)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (102, 161, N'Васильева Анна Николаевна', CAST(N'2022-12-03' AS Date), 5677, 345)
INSERT [dbo].[Договор] ([Номер], [НомерРукописи], [ФИОАвтора], [ДатаЗаключения], [ОплатаАвтору], [Тираж]) VALUES (103, 162, N'Агеев Сергей Олегович', CAST(N'2022-12-03' AS Date), 15000, 345)
GO

# [dbo].[Заказ]

In [0]:
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (1, 18, CAST(N'2021-06-30' AS Date), N'Перевод', 177235)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (2, 71, CAST(N'2020-08-14' AS Date), N'Перевод', 292007)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (3, 106, CAST(N'2021-03-30' AS Date), N'Перевод', 168780)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (4, 82, CAST(N'2022-02-06' AS Date), N'Наличные', 140860)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (5, 53, CAST(N'2021-07-24' AS Date), N'Перевод', 29480)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (6, 31, CAST(N'2020-03-14' AS Date), N'Перевод', 279748)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (7, 59, CAST(N'2020-04-22' AS Date), N'Перевод', 115738)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (8, 76, CAST(N'2021-03-09' AS Date), N'Перевод', 164583)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (9, 24, CAST(N'2020-08-05' AS Date), N'Наличные', 60678)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (10, 61, CAST(N'2021-10-20' AS Date), N'Перевод', 282047)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (11, 122, CAST(N'2022-10-02' AS Date), N'Перевод', 271022)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (12, 118, CAST(N'2021-01-07' AS Date), N'Перевод', 242796)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (13, 95, CAST(N'2021-03-19' AS Date), N'Перевод', 134085)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (14, 54, CAST(N'2021-02-03' AS Date), N'Наличные', 319975)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (15, 99, CAST(N'2020-07-29' AS Date), N'Перевод', 73113)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (16, 92, CAST(N'2021-06-16' AS Date), N'Перевод', 95053)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (17, 100, CAST(N'2020-10-30' AS Date), N'Перевод', 182116)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (18, 29, CAST(N'2020-03-31' AS Date), N'Перевод', 225871)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (19, 74, CAST(N'2020-10-15' AS Date), N'Наличные', 167728)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (20, 103, CAST(N'2020-07-16' AS Date), N'Перевод', 66842)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (21, 2, CAST(N'2020-05-24' AS Date), N'Перевод', 13966)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (22, 66, CAST(N'2020-04-16' AS Date), N'Перевод', 68932)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (23, 6, CAST(N'2020-01-03' AS Date), N'Перевод', 151972)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (24, 17, CAST(N'2021-02-08' AS Date), N'Наличные', 249915)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (25, 38, CAST(N'2020-07-14' AS Date), N'Перевод', 20316)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (26, 9, CAST(N'2022-07-29' AS Date), N'Перевод', 293957)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (27, 25, CAST(N'2020-01-01' AS Date), N'Перевод', 159720)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (28, 83, CAST(N'2022-08-17' AS Date), N'Перевод', 246543)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (29, 68, CAST(N'2022-06-08' AS Date), N'Наличные', 248932)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (30, 10, CAST(N'2022-06-08' AS Date), N'Перевод', 309437)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (31, 65, CAST(N'2021-11-22' AS Date), N'Перевод', 209099)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (32, 117, CAST(N'2020-09-09' AS Date), N'Перевод', 119550)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (33, 5, CAST(N'2022-02-09' AS Date), N'Перевод', 212793)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (34, 97, CAST(N'2022-03-16' AS Date), N'Наличные', 78032)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (35, 124, CAST(N'2021-04-04' AS Date), N'Перевод', 36497)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (36, 97, CAST(N'2020-10-21' AS Date), N'Перевод', 203456)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (37, 130, CAST(N'2021-07-14' AS Date), N'Перевод', 219146)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (38, 100, CAST(N'2021-01-22' AS Date), N'Перевод', 223591)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (39, 105, CAST(N'2021-02-28' AS Date), N'Наличные', 215798)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (40, 65, CAST(N'2021-03-14' AS Date), N'Перевод', 60144)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (41, 11, CAST(N'2020-08-15' AS Date), N'Перевод', 206522)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (42, 96, CAST(N'2021-08-15' AS Date), N'Перевод', 34596)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (43, 30, CAST(N'2020-10-15' AS Date), N'Перевод', 271109)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (44, 57, CAST(N'2020-03-02' AS Date), N'Наличные', 161877)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (45, 19, CAST(N'2022-06-18' AS Date), N'Перевод', 99126)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (46, 50, CAST(N'2022-02-07' AS Date), N'Перевод', 102525)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (47, 119, CAST(N'2022-09-27' AS Date), N'Перевод', 261736)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (48, 65, CAST(N'2022-01-24' AS Date), N'Перевод', 3037)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (49, 44, CAST(N'2022-03-26' AS Date), N'Наличные', 310491)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (50, 90, CAST(N'2021-04-21' AS Date), N'Перевод', 4198)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (51, 65, CAST(N'2020-03-30' AS Date), N'Перевод', 7950)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (52, 112, CAST(N'2021-11-20' AS Date), N'Перевод', 129659)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (53, 108, CAST(N'2020-09-30' AS Date), N'Перевод', 80772)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (54, 97, CAST(N'2020-08-15' AS Date), N'Наличные', 285993)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (55, 41, CAST(N'2020-12-25' AS Date), N'Перевод', 269429)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (56, 73, CAST(N'2022-04-06' AS Date), N'Перевод', 199614)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (57, 64, CAST(N'2020-06-15' AS Date), N'Перевод', 178344)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (58, 68, CAST(N'2020-12-13' AS Date), N'Перевод', 7859)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (59, 85, CAST(N'2021-05-19' AS Date), N'Наличные', 319969)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (60, 87, CAST(N'2020-11-20' AS Date), N'Перевод', 175649)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (61, 63, CAST(N'2022-01-24' AS Date), N'Перевод', 231241)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (62, 119, CAST(N'2020-07-17' AS Date), N'Перевод', 5725)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (63, 107, CAST(N'2022-06-15' AS Date), N'Перевод', 110767)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (64, 87, CAST(N'2022-05-31' AS Date), N'Наличные', 94714)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (65, 48, CAST(N'2020-04-24' AS Date), N'Перевод', 120715)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (66, 95, CAST(N'2022-06-07' AS Date), N'Перевод', 30519)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (67, 125, CAST(N'2022-11-01' AS Date), N'Перевод', 198476)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (68, 102, CAST(N'2021-03-22' AS Date), N'Перевод', 170818)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (69, 38, CAST(N'2020-07-08' AS Date), N'Наличные', 258254)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (70, 50, CAST(N'2022-06-19' AS Date), N'Перевод', 62176)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (71, 102, CAST(N'2021-10-02' AS Date), N'Перевод', 35512)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (72, 57, CAST(N'2020-02-25' AS Date), N'Перевод', 132732)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (73, 7, CAST(N'2020-12-24' AS Date), N'Перевод', 60418)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (74, 45, CAST(N'2020-04-19' AS Date), N'Наличные', 220320)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (75, 49, CAST(N'2022-10-30' AS Date), N'Перевод', 134528)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (76, 101, CAST(N'2022-06-09' AS Date), N'Перевод', 141017)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (77, 95, CAST(N'2021-07-19' AS Date), N'Перевод', 25724)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (78, 79, CAST(N'2022-10-01' AS Date), N'Перевод', 290437)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (79, 52, CAST(N'2021-05-16' AS Date), N'Наличные', 207564)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (80, 53, CAST(N'2020-07-28' AS Date), N'Перевод', 46652)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (81, 73, CAST(N'2020-06-23' AS Date), N'Перевод', 120588)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (82, 62, CAST(N'2020-05-05' AS Date), N'Перевод', 278835)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (83, 67, CAST(N'2021-06-14' AS Date), N'Перевод', 12208)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (84, 52, CAST(N'2022-03-25' AS Date), N'Наличные', 142409)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (85, 10, CAST(N'2021-09-27' AS Date), N'Перевод', 51337)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (86, 13, CAST(N'2022-11-26' AS Date), N'Перевод', 23638)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (87, 13, CAST(N'2021-06-30' AS Date), N'Перевод', 14810)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (88, 9, CAST(N'2022-11-26' AS Date), N'Перевод', 1256)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (89, 6, CAST(N'2022-11-26' AS Date), N'Наличные', 5625)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (91, 4, CAST(N'2021-06-30' AS Date), N'Перевод', 7375)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (92, 4, CAST(N'2021-06-30' AS Date), N'Перевод', 11000)
INSERT [dbo].[Заказ] ([Номер], [IDКлиента], [ДатаЗаказа], [ТипОплаты], [ОбщаяСтоимость]) VALUES (93, 16, CAST(N'2022-12-03' AS Date), N'Перевод', 2838)
GO

# [dbo].[Заявка]

In [0]:
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (1, N'Серггев Сергей Юрьевич', N'89534672365', N'https://googledocbook')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (5, N'Сергеев Сергей', N'89744', N'http')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (6, N'Васильева Мария Юрьевна', N'89456732546', N'https://material')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (7, N'Блинова Софья Павловна', N'89532621039', N'https://materialbook')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (8, N'Блинова Софья Павловна', N'89532621039', N'https://material')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (9, N'Блинова Софья', N'888', N'http')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (10, N'Васильева', N'89', N'ваа')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (11, N'Васильева Анна Николаевна', N'894653', N'ttp')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (12, N'Антипова Вероника Максимовна', N'87652873465', N'https://')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (13, N'Агеев Сергей Олегович', N'89776543476', N'https://materialrukopisi')
INSERT [dbo].[Заявка] ([НомерЗаявки], [ФИО], [Телефон], [Ссылка]) VALUES (14, N'Блинова Софья Павловна', N'89532621039', N'http://ssilkaamateriala')
GO

# [dbo].[Клиент]

In [0]:
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (1, N'Янушко Богдан Якубович', N'89239746121')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (2, N'Петрова Сара Добрынична', N'89852566323')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (3, N'Лапухина Зоя Тимофеевна', N'89419767049')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (4, N'Флёрова Ариадна Владимировна', N'89098493978')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (5, N'Сергеева Василиса Адриановна', N'89560985417')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (6, N'Кондратьева Мишель Рафаэльевна', N'89736977506')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (7, N'Лескова Анфиса Елисеевна', N'89226391419')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (8, N'Бухарин Чеслав Алексеевич', N'89728809229')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (9, N'Белозерцева Евгения Фомевна', N'89694253938')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (10, N'Макаркина Мариам Василиевна', N'89596345320')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (11, N'Олейников Алексей Стефанович', N'89845184479')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (12, N'Канунникова Лидия Давидовна', N'89476730779')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (13, N'Колпаков Сергей Дмитриевич', N'89024701790')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (14, N'Хмельнова Тамара Фомевна', N'89082061611')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (15, N'Вагин Фадей Ульянович', N'89600316679')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (16, N'Тимофеева Дарья Львовна', N'89067551281')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (17, N'Гусев Филимон Прохорович', N'89260213062')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (18, N'Трошин Карим Захарович', N'89683829946')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (19, N'Балин Леонид Казимирович', N'89038305439')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (20, N'Тихомиров Герасим Самсонович', N'89622663447')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (21, N'Горюнов Камиль Дамирович', N'89903419751')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (22, N'Курбатов Ибрагим Левович', N'89254140767')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (23, N'Шульгина Лариса Игоревна', N'89009646444')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (24, N'Толкачёв Клим Герасимович', N'89559015318')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (25, N'Сурнин Трофим Семенович', N'89599213068')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (26, N'Копорикова Мирослава Константиновна', N'89757021372')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (27, N'Храмова Диана Данииловна', N'89233446696')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (28, N'Максимушкина Софья Эриковна', N'89741442654')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (29, N'Кирилов Радислав Леонидович', N'89916577815')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (30, N'Любимов Вадим Ерофеевич', N'89345874831')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (31, N'Попков Гордей Марсельевич', N'89565318016')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (32, N'Кубланова Всеслава Владимировна', N'89416011336')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (33, N'Лещенко Парфен Эмирович', N'89848485285')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (34, N'Шуленков Эммануил Дмитриевич', N'89953484247')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (35, N'Акинфеева Розалия Антоновна', N'89397030034')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (36, N'Катериночкина Марьям Лукинична', N'89860231989')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (37, N'Зухин Альберт Дмитриевич', N'89577238204')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (38, N'Синдеева Светлана Арсеновна', N'89226312380')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (39, N'Мартьянов Владилен Демидович', N'89027680688')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (40, N'Акимова Сабина Брониславовна', N'89230989111')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (41, N'Аносова Катерина Фомевна', N'89211638685')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (42, N'Софронова Вера Марсельевна', N'89682060689')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (43, N'Гусева Мария Данилевна', N'89001345121')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (44, N'Кобяков Юрий Эрнестович', N'89708529413')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (45, N'Овсов Данис Прокофиевич', N'89309322468')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (46, N'Окулова Ярослава Эриковна', N'89487423463')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (47, N'Андреюшкин Якуб Егорович', N'89902907603')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (48, N'Черкасов Данияр Антонович', N'89098233807')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (49, N'Истлентьев Филипп Юриевич', N'89662704964')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (50, N'Серова Камилла Ипполитовна', N'89662920551')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (51, N'Будников Евграф Эмилевич', N'89252471495')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (52, N'Чувикова Марьяна Михеевна', N'89281762887')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (53, N'Смирнов Мирон Савелиевич', N'89937774799')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (54, N'Мышелова Альбина Савельевна', N'89681725744')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (55, N'Эшман Афанасий Лукич', N'89902367826')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (56, N'Демьянова Аврора Евгеньевна', N'89249035592')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (57, N'Аводкова Регина Марсельевна', N'89504211216')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (58, N'Конакова Элеонора Львовна', N'89431726702')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (59, N'Диденкова Яна Юлиевна', N'89299464405')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (60, N'Курдиков Герман Ерофеевич', N'89576092879')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (61, N'Козарь Прокл Григорьевич', N'89473532665')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (62, N'Царицын Мирослав Давидович', N'89166180863')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (63, N'Данькин Эмиль Ильевич', N'89732760476')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (64, N'Лобана Виктория Андреевна', N'89745438382')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (65, N'Жернакова Юлия Артемьевна', N'89623901651')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (66, N'Рыкова Валерия Ираклиевна', N'89244153237')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (67, N'Должикова Сафина Матвеевна', N'89976863548')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (68, N'Лихачёв Остап Арсениевич', N'89533223982')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (69, N'Слепынина Злата Максимовна', N'89761803411')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (70, N'Яробкин Гаврила Никанорович', N'89997970126')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (71, N'Званцова Нона Львовна', N'89861809858')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (72, N'Сигачёв Назар Моисеевич', N'89174897186')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (73, N'Михайлова Эльвира Ибрагимовна', N'89182923607')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (74, N'Мурогов Евгений Самсонович', N'89473638996')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (75, N'Кортнев Егор Антонович', N'89238613792')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (76, N'Жвикова Ясмин Данисовна', N'89116740492')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (77, N'Тихомиров Лукьян Онуфриевич', N'89410810654')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (78, N'Коржуков Федот Андронович', N'89749376728')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (79, N'Курчатова Анисия Мирославовна', N'89000597255')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (80, N'Эпингера Изольда Назаровна', N'89464302315')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (81, N'Сухиха Каролина Андреевна', N'89284630340')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (82, N'Кизюрин Яромир Давыдович', N'89997126826')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (83, N'Прудникова Ева Якововна', N'89117628963')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (84, N'Завражный Жасмина Потаповна', N'89717508829')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (85, N'Ямбаева Олеся Петровна', N'89088889943')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (86, N'Берлунова Рената Макаровна', N'89873387520')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (87, N'Коленко Татьяна Ильевна', N'89846997839')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (88, N'Кресанов Игорь Андроникович', N'89168880222')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (89, N'Сунгатулина Сабрина Святославовна', N'89876246084')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (90, N'Кабаидзе Павел Макарович', N'89283305993')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (91, N'Беляева Айлин Артемьевна', N'89986886078')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (92, N'Аничков Казимир Ибрагимович', N'89443301833')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (93, N'Ахременко Глафира Климовна', N'89053354542')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (94, N'Ячменькова Кристина Добрынична', N'89291990291')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (95, N'Янютина Марина Добрынична', N'89670867355')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (96, N'Хабибова Ефросинья Кирилловна', N'89375564539')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (97, N'Справцева Людмила Никитевна', N'89803389967')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (98, N'Коллерова Аделина Эмильевна', N'89182254474')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (99, N'Воронова Ираида Егоровна', N'89163674542')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (100, N'Беликов Дмитрий Львович', N'89212667414')
GO

In [0]:
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (101, N'Умников Клим Владимирович', N'89843374301')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (102, N'Шалимов Владилен Никитич', N'89329042608')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (103, N'Юрков Гаврила Моисеевич', N'89260539528')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (104, N'Тихонова Медина Семеновна', N'89527488447')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (105, N'Целобанов Ким Ерофеевич', N'89754807974')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (106, N'Рябцева Татьяна Викторовна', N'89157145716')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (107, N'Александрин Тарас Викторович', N'89485468818')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (108, N'Голованова Инна Сергеевна', N'89363798139')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (109, N'Берлунова Рената Григорьевна', N'89594037238')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (110, N'Домышева Римма Борисовна', N'89444957368')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (111, N'Яговенко Марианна Тихоновна', N'89049501156')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (112, N'Варенников Данияр Глебович', N'89796347651')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (113, N'Царско Вениамин Самуилович', N'89898649480')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (114, N'Кобонов Якуб Климович', N'89252741444')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (115, N'Курдин Андрей Никитевич', N'89684725695')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (116, N'Кашарина Ефросинья Кирилловна', N'89615526797')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (117, N'Александрина Ася Эмильевна', N'89534796064')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (118, N'Церетели Валерий Анатолиевич', N'89004110557')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (119, N'Блантер Марат Львович', N'89276681824')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (120, N'Крестьянинов Кондрат Наумович', N'89129238609')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (121, N'Десяткова Мелисса Степановна', N'89740325959')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (122, N'Погребной Тимур Венедиктович', N'89341679550')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (123, N'Кочергина Станислава Ивановна', N'89260682080')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (124, N'Силиванова Владлена Владиславовна', N'89520695262')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (125, N'Константинова Агния Иларионовна', N'89458019731')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (126, N'Шумова Стефания Мирославовна', N'89556547983')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (127, N'Набойщиков Альберт Романович', N'89224412828')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (128, N'Картавый Поликарп Анатольевич', N'89966294995')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (129, N'Страхов Владимир Адамович', N'89425816912')
INSERT [dbo].[Клиент] ([Id], [ФИО], [НомерТелефона]) VALUES (130, N'Исакова Лея Ильевна', N'89407379103')
GO

# [dbo].[Книга]

In [0]:
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (1, N'Незабываемый вечер', N'Сигаев Никита Филиппович', 1, 550, N'Твёрдый бумажный', N'Твёрдая', 875)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (2, N'Вспышка', N'Прохоренко Константин Яковлевич', 2, 606, N'Мягкий КБС', N'Твёрдая', 352)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (4, N'Сеть рыбака', N'Смирновский Прокофий Ильевич', 6, 1242, N'Целлофинированный', N'Твёрдая', 1367)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (35, N'Последний сон', N'Янышева Эльвира Рафаэльевна', 63, 820, N'Мягкий КБС', N'Мягкая', 244)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (36, N'Изнутри', N'Агейкина Жасмина Виталиевна', 66, 309, N'Мягкий КБС', N'Твёрдая', 1125)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (37, N'Жёлтые одуванчики', N'Хомякова Жанна Богдановна', 67, 1064, N'Твёрдый бумажный', N'Мягкая', 131)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (38, N'Хрустальный цветок', N'Исакова Ярослава Германовна', 68, 506, N'Мягкий КБС', N'Мягкая', 1287)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (39, N'Мы ещё встретимся', N'Цельнера Евангелина Федотовна', 71, 297, N'Твёрдый составной', N'Цельнокрытая', 1499)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (40, N'Прощальная встреча', N'Грачёва Мирослава Андреевна', 73, 1049, N'Целлофинированный', N'Мягкая', 334)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (41, N'Интернет-друг', N'Набиуллина Альфия Матвеевна', 74, 570, N'Твёрдый составной', N'Мягкая', 986)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (42, N'Забытый герой', N'Казьмина Доминика Алексеевна', 76, 1092, N'Твёрдый бумажный', N'Цельнокрытая', 286)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (43, N'Нет выбора', N'Низова Айлин Данильевна', 79, 1049, N'Целлофинированный', N'Мягкая', 1411)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (44, N'Держи меня', N'Ящина Лидия Максимовна', 80, 407, N'Твёрдый бумажный', N'Цельнокрытая', 1400)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (45, N'Вечный кошмар', N'Позона Софья Вадимовна', 81, 452, N'Твёрдый бумажный', N'Мягкая', 1228)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (47, N'Хамелеон', N'Островская Стела Михайловна', 86, 291, N'Мягкий КБС', N'Твёрдая', 676)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (48, N'Пламя ночи', N'Зубова Ульяна Андреевна', 87, 407, N'Мягкий КБС', N'Твёрдая', 178)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (49, N'Поющая мышь', N'Аюшиева Майя Владиленовна', 89, 422, N'Твёрдый бумажный', N'Твёрдая', 566)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (50, N'Шёпот цветов', N'Вельяминова Галина Антоновна', 92, 825, N'Мягкий КБС', N'Мягкая', 1114)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (51, N'Звенящая пошлость', N'Панарина Элина Каримовна', 93, 1139, N'Твёрдый составной', N'Твёрдая', 1311)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (52, N'Главные по гитарам', N'Окулова Ясмин Степановна', 94, 1177, N'Целлофинированный', N'Мягкая', 234)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (53, N'Персиковый сад', N'Голотина Сафия Рустамовна', 97, 408, N'Твёрдый составной', N'Мягкая', 929)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (54, N'Не одни', N'Мышкина Ираида Несторовна', 99, 1177, N'Твёрдый бумажный', N'Цельнокрытая', 1157)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (55, N'Путь к счастью', N'Хамидуллина Клара Елизаровна', 100, 308, N'Целлофинированный', N'Мягкая', 814)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (56, N'Другой мир', N'Позона Софья Вадимовна', 102, 633, N'Твёрдый бумажный', N'Мягкая', 748)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (57, N'Последнее воспоминание', N'Толстоброва Злата Святославовна', 105, 808, N'Твёрдый бумажный', N'Цельнокрытая', 1007)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (58, N'Обитель желаний', N'Карамышева Марфа Аркадьевна', 106, 474, N'Мягкий КБС', N'Мягкая', 169)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (59, N'Звёздная роль', N'Островская Стела Михайловна', 107, 927, N'Мягкий КБС', N'Цельнокрытая', 1230)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (60, N'Лазурные небеса', N'Аюшиева Майя Владиленовна', 110, 754, N'Мягкий КБС', N'Мягкая', 1246)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (61, N'Рынок чувств', N'Подшивалова Инесса Олеговна', 112, 351, N'Твёрдый бумажный', N'Твёрдая', 1136)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (62, N'Млечный путь', N'Вельяминова Галина Антоновна', 113, 497, N'Мягкий КБС', N'Твёрдая', 613)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (63, N'Пустые глаза', N'Мамыкин Мефодий Викторович', 115, 440, N'Твёрдый составной', N'Твёрдая', 1248)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (64, N'Белый лев', N'Чупахин Эрнест Саввевич', 118, 701, N'Целлофинированный', N'Твёрдая', 296)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (65, N'Бей беги', N'Ретюнских Ростислав Моисеевич', 119, 1154, N'Твёрдый составной', N'Мягкая', 441)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (66, N'Встреча у костра', N'Рябков Чеслав Федорович', 120, 1047, N'Твёрдый бумажный', N'Твёрдая', 1115)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (67, N'Без вариантов', N'Ярский Кир Львович', 123, 1131, N'Целлофинированный', N'Мягкая', 1074)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (68, N'Королева тайн', N'Рабинович Мартын Ибрагимович', 125, 1139, N'Твёрдый бумажный', N'Мягкая', 1449)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (69, N'Прощальная встреча', N'Чехов Стефан Максимович', 126, 355, N'Твёрдый бумажный', N'Цельнокрытая', 1025)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (70, N'Шёпот в темноте', N'Доронин Артур Валерьевич', 128, 1093, N'Мягкий КБС', N'Мягкая', 605)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (71, N'Игра в жизнь', N'Щитт Сергей Сергеевич', 131, 282, N'Мягкий КБС', N'Мягкая', 1266)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (72, N'Поиск истины', N'Иканова Вера Александровна', 132, 502, N'Мягкий КБС', N'Цельнокрытая', 224)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (73, N'Маленькая фантазия', N'Абрамович Анжелика Эминовна', 133, 846, N'Твёрдый бумажный', N'Мягкая', 1055)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (74, N'Противоположности', N'Юневич Игорь Олегович', 136, 956, N'Мягкий КБС', N'Цельнокрытая', 548)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (75, N'Смех из под земли', N'Усатов Федот Трофимович', 138, 299, N'Твёрдый составной', N'Мягкая', 811)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (76, N'Новая история', N'Гунин Валентин Артёмович', 139, 890, N'Целлофинированный', N'Твёрдая', 524)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (77, N'Снежный пепел', N'Чалый Ипполит Еремеевич', 141, 777, N'Твёрдый составной', N'Твёрдая', 1377)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (78, N'Чужой город', N'Зотов Мирослав Ираклиевич', 144, 406, N'Твёрдый бумажный', N'Твёрдая', 1266)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (79, N'Космический сон', N'Андреюшкина Мариам Владиленовна', 145, 656, N'Целлофинированный', N'Твёрдая', 161)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (80, N'Проект 019', N'Чеботарева Марина Матвеевна', 146, 378, N'Твёрдый бумажный', N'Мягкая', 205)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (81, N'Город в тумане', N'Грачёва Мирослава Андреевна', 149, 1095, N'Твёрдый бумажный', N'Твёрдая', 1150)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (82, N'Мир', N'Абрамович Анжелика Эминовна', 1, 250, N'Твёрдый бумажный', N'Твёрдвя', 500)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (83, N'Книга', N'Иванов Иван Иванович', 151, 45, N'Твёрдый бумажный', N'Твёрдая', 500)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (87, N'Уравнения', N'Блинова Софья Павловна', 155, 456, N'Мягкий КБС', N'Твёрдая', 234)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (89, N'Книга', N'Блинова Софья Павловна', 156, 345, N'Твёрдый бумажный', N'Твёрдая', 345)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (90, N'Незабываемый вечер', N'Сигаев Никита Филиппович', 1, 234, N'Твёрдый бумажный', N'Твёрдая', 234)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (91, N'Книжечка', N'Казнов Ефрем Сергеевич', 13, 173, N'Мягкий КБС ', N'Мягкая', 150)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (92, N'Книжечка', N'Васильева Анна Николаевна', 161, 345, N'Твёрдый бумажный', N'Мягкая', 230)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (93, N'Книга', N'Агеев Сергей Олегович', 162, 600, N'Твёрдый бумажный', N'Твёрдая', 1200)
INSERT [dbo].[Книга] ([ID], [Название], [Автор], [НомерРукописи], [КолвоСтраниц], [Переплёт], [Обложка], [Стоимость]) VALUES (94, N'Книга', N'Агеев Сергей Олегович', 162, 590, N'Мягкий КБС ', N'Твёрдая', 299)
GO

# [dbo].[Работа]

In [0]:
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (4, 66, 3, N'Корректура текста', CAST(N'2022-01-04' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (6, 42, 24, N'Корректура текста', CAST(N'2021-06-17' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (7, 55, 25, N'Корректура текста', CAST(N'2020-12-04' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (8, 71, 8, N'Дизайн', CAST(N'2020-12-11' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (11, 60, 25, N'Корректура текста', CAST(N'2021-02-16' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (12, 38, 8, N'Дизайн', CAST(N'2020-08-12' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (13, 74, 13, N'Дизайн', CAST(N'2020-07-07' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (14, 65, 23, N'Дизайн', CAST(N'2021-03-30' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (17, 81, 1, N'Редактура текста', CAST(N'2022-08-03' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (19, 64, 21, N'Редактура текста', CAST(N'2020-03-07' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (22, 44, 24, N'Корректура текста', CAST(N'2020-09-08' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (23, 65, 25, N'Корректура текста', CAST(N'2020-04-21' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (24, 41, 8, N'Дизайн', CAST(N'2021-08-22' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (25, 70, 9, N'Дизайн', CAST(N'2021-02-19' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (28, 53, 3, N'Корректура текста', CAST(N'2022-03-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (30, 41, 24, N'Корректура текста', CAST(N'2022-08-17' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (31, 68, 25, N'Корректура текста', CAST(N'2020-03-27' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (33, 68, 3, N'Корректура текста', CAST(N'2021-11-13' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (34, 68, 1, N'Редактура текста', CAST(N'2022-03-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (35, 45, 5, N'Редактура текста', CAST(N'2020-04-04' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (36, 36, 21, N'Редактура текста', CAST(N'2022-11-30' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (40, 39, 3, N'Корректура текста', CAST(N'2022-09-05' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (41, 59, 3, N'Корректура текста', CAST(N'2022-06-01' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (42, 1, 4, N'Корректура текста', CAST(N'2022-08-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (46, 40, 9, N'Дизайн', CAST(N'2021-12-28' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (47, 38, 4, N'Корректура текста', CAST(N'2021-11-24' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (48, 75, 1, N'Редактура текста', CAST(N'2021-08-27' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (50, 55, 21, N'Редактура текста', CAST(N'2021-08-09' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (52, 58, 4, N'Корректура текста', CAST(N'2020-07-13' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (53, 60, 24, N'Корректура текста', CAST(N'2022-06-05' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (56, 2, 6, N'Дизайн', CAST(N'2020-08-30' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (58, 79, 8, N'Дизайн', CAST(N'2021-08-21' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (59, 41, 9, N'Дизайн', CAST(N'2021-07-08' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (60, 37, 13, N'Дизайн', CAST(N'2021-12-09' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (62, 42, 13, N'Дизайн', CAST(N'2022-02-20' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (65, 77, 1, N'Редактура текста', CAST(N'2022-02-01' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (66, 36, 5, N'Редактура текста', CAST(N'2021-05-18' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (67, 52, 21, N'Редактура текста', CAST(N'2020-09-21' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (68, 39, 4, N'Корректура текста', CAST(N'2020-07-28' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (71, 4, 24, N'Корректура текста', CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (72, 37, 25, N'Корректура текста', CAST(N'2020-08-22' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (73, 52, 13, N'Дизайн', CAST(N'2022-05-25' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (74, 64, 23, N'Дизайн', CAST(N'2020-12-13' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (75, 59, 5, N'Редактура текста', CAST(N'2020-01-19' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (76, 66, 21, N'Редактура текста', CAST(N'2020-06-13' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (78, 52, 3, N'Корректура текста', CAST(N'2021-11-23' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (79, 1, 4, N'Корректура текста', CAST(N'2020-04-02' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (80, 35, 24, N'Корректура текста', CAST(N'2020-01-20' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (81, 36, 25, N'Корректура текста', CAST(N'2020-07-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (84, 68, 5, N'Редактура текста', CAST(N'2022-04-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (86, 53, 5, N'Редактура текста', CAST(N'2020-02-25' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (87, 67, 21, N'Редактура текста', CAST(N'2022-07-15' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (88, 74, 4, N'Корректура текста', CAST(N'2022-07-28' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (91, 51, 25, N'Корректура текста', CAST(N'2022-01-25' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (92, 44, 5, N'Редактура текста', CAST(N'2021-08-16' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (93, 42, 21, N'Редактура текста', CAST(N'2020-10-17' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (96, 55, 23, N'Дизайн', CAST(N'2021-04-18' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (98, 1, 5, N'Редактура текста', CAST(N'2020-06-09' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (99, 75, 21, N'Редактура текста', CAST(N'2021-01-22' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (100, 80, 21, N'Редактура текста', CAST(N'2020-08-22' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (101, 2, 25, N'Дизайн', CAST(N'2022-11-21' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (102, 83, 8, N'Дизайн', CAST(N'2022-11-23' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (104, 36, 4, N'Дизайн', CAST(N'2022-11-28' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (105, 36, 1, N'Дизайн', CAST(N'2022-11-30' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (106, 90, 8, N'Корректура', CAST(N'2022-12-02' AS Date))
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (107, 90, 13, N'Дизайн', NULL)
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (108, 92, 21, N'Корректура', NULL)
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (109, 94, 23, N'Дизайн', NULL)
INSERT [dbo].[Работа] ([ID], [IDКниги], [НомерСотрудника], [ТипРаботы], [ДатаОкончания]) VALUES (110, 94, 21, N'Редактура', NULL)
GO

# [dbo].[Рукопись]

In [0]:
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (1, NULL, N'Сигаев Никита Филиппович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (2, NULL, N'Прохоренко Константин Яковлевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (3, NULL, N'Яхненко Фома Вадимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (4, NULL, N'Нужнов Измаил Саввевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (5, NULL, N'Сиякаев Изяслав Филимонович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (6, NULL, N'Смирновский Прокофий Ильевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (7, NULL, N'Никольский Родион Венедиктович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (8, NULL, N'Сильвестров Игнатий Мартьянович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (9, NULL, N'Прудников Осип Станиславович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (10, NULL, N'Ефремович Юрий Михайлович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (11, NULL, N'Гершкович Тарас Даниярович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (12, NULL, N'Фуриков Роберт Климентович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (13, NULL, N'Казнов Ефрем Сергеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (14, NULL, N'Юневич Игорь Олегович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (15, NULL, N'Кунаковский Адам Агапович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (16, NULL, N'Усатов Федот Трофимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (17, NULL, N'Гунин Валентин Артёмович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (18, NULL, N'Папенин Рафаэль Даниярович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (19, NULL, N'Чалый Ипполит Еремеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (20, NULL, N'Плахтюрин Павел Адамович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (21, NULL, N'Шульгин Прохор Родионович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (22, NULL, N'Зотов Мирослав Ираклиевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (23, NULL, N'Трофимов Эмин Святославович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (24, NULL, N'Карасев Александр Андронович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (25, NULL, N'Домашев Онуфрий Егорович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (26, NULL, N'Муратов Остап Аркадьевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (27, NULL, N'Красоткин Евдоким Даниилович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (28, NULL, N'Ягодников Добрыня Лукич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (29, NULL, N'Свечников Назар Изяславович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (30, NULL, N'Курбанов Савелий Эрнестович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (31, NULL, N'Репин Валерий Пахомович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (32, NULL, N'Бонч-Бруевич Фока Михаилович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (33, NULL, N'Лепёхин Мирон Анатолиевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (34, NULL, N'Мамыкин Мефодий Викторович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (35, NULL, N'Яблоков Давид Кондратиевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (36, NULL, N'Богоносцев Богдан Титович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (37, NULL, N'Чупахин Эрнест Саввевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (38, NULL, N'Ретюнских Ростислав Моисеевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (39, NULL, N'Рябков Чеслав Федорович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (40, NULL, N'Елешев Вадим Евграфович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (41, NULL, N'Катков Агап Агапович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (42, NULL, N'Ярский Кир Львович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (43, NULL, N'Турышев Глеб Куприянович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (44, NULL, N'Рабинович Мартын Ибрагимович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (45, NULL, N'Чехов Стефан Максимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (46, NULL, N'Щитт Леон Карлович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (47, NULL, N'Доронин Артур Валерьевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (48, NULL, N'Онипченко Эмир Глебович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (49, NULL, N'Данькин Иннокентий Панкратиевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (50, NULL, N'Щитт Сергей Сергеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (51, NULL, N'Иканова Вера Александровна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (52, NULL, N'Абрамович Анжелика Эминовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (53, NULL, N'Канунникова Глафира Богдановна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (54, NULL, N'Кузьмина Алиса Александровна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (55, NULL, N'Мизенова Алисия Анатольевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (56, NULL, N'Михальченкова Таисия Дмитриевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (57, NULL, N'Воронова Варвара Олеговна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (58, NULL, N'Яналова Милана Добрынична', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (59, NULL, N'Максимушкина Стефания Святославовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (60, NULL, N'Нырцева Амира Викторовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (61, NULL, N'Стегнова Станислава Брониславовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (62, NULL, N'Минина Василина Тимофеевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (63, NULL, N'Янышева Эльвира Рафаэльевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (64, NULL, N'Чурсунова Фатима Эминовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (65, NULL, N'Янсона Елена Анатолиевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (66, NULL, N'Агейкина Жасмина Виталиевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (67, NULL, N'Хомякова Жанна Богдановна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (68, NULL, N'Исакова Ярослава Германовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (69, NULL, N'Андреюшкина Мариам Владиленовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (70, NULL, N'Чеботарева Марина Матвеевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (71, NULL, N'Цельнера Евангелина Федотовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (72, NULL, N'Бабанова Александра Владимировна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (73, NULL, N'Грачёва Мирослава Андреевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (74, NULL, N'Набиуллина Альфия Матвеевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (75, NULL, N'Киселева Николь Якововна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (76, NULL, N'Казьмина Доминика Алексеевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (77, NULL, N'Большакова Амина Павловна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (78, NULL, N'Гудкова Оливия Андреевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (79, NULL, N'Низова Айлин Данильевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (80, NULL, N'Ящина Лидия Максимовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (81, NULL, N'Позона Софья Вадимовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (82, NULL, N'Благово София Брониславовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (83, NULL, N'Клименкова Василиса Фомевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (84, NULL, N'Толстоброва Злата Святославовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (85, NULL, N'Карамышева Марфа Аркадьевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (86, NULL, N'Островская Стела Михайловна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (87, NULL, N'Зубова Ульяна Андреевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (88, NULL, N'Савельева Миа Марсельевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (89, NULL, N'Аюшиева Майя Владиленовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (90, NULL, N'Кочерёжкина Алсу Егоровна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (91, NULL, N'Подшивалова Инесса Олеговна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (92, NULL, N'Вельяминова Галина Антоновна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (93, NULL, N'Панарина Элина Каримовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (94, NULL, N'Окулова Ясмин Степановна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (95, NULL, N'Базарова Милена Антониновна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (96, NULL, N'Аргамакова Аида Семеновна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (97, NULL, N'Голотина Сафия Рустамовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (98, NULL, N'Лагутова Тея Рафаэльевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (99, NULL, N'Мышкина Ираида Несторовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (100, NULL, N'Хамидуллина Клара Елизаровна', N'да')
GO

In [0]:
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (101, NULL, N'Ящина Лидия Максимовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (102, NULL, N'Позона Софья Вадимовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (103, NULL, N'Благово София Брониславовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (104, NULL, N'Клименкова Василиса Фомевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (105, NULL, N'Толстоброва Злата Святославовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (106, NULL, N'Карамышева Марфа Аркадьевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (107, NULL, N'Островская Стела Михайловна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (108, NULL, N'Зубова Ульяна Андреевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (109, NULL, N'Савельева Миа Марсельевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (110, NULL, N'Аюшиева Майя Владиленовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (111, NULL, N'Кочерёжкина Алсу Егоровна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (112, NULL, N'Подшивалова Инесса Олеговна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (113, NULL, N'Вельяминова Галина Антоновна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (114, NULL, N'Панарина Элина Каримовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (115, NULL, N'Мамыкин Мефодий Викторович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (116, NULL, N'Яблоков Давид Кондратиевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (117, NULL, N'Богоносцев Богдан Титович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (118, NULL, N'Чупахин Эрнест Саввевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (119, NULL, N'Ретюнских Ростислав Моисеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (120, NULL, N'Рябков Чеслав Федорович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (121, NULL, N'Елешев Вадим Евграфович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (122, NULL, N'Катков Агап Агапович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (123, NULL, N'Ярский Кир Львович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (124, NULL, N'Турышев Глеб Куприянович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (125, NULL, N'Рабинович Мартын Ибрагимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (126, NULL, N'Чехов Стефан Максимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (127, NULL, N'Щитт Леон Карлович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (128, NULL, N'Доронин Артур Валерьевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (129, NULL, N'Онипченко Эмир Глебович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (130, NULL, N'Данькин Иннокентий Панкратиевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (131, NULL, N'Щитт Сергей Сергеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (132, NULL, N'Иканова Вера Александровна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (133, NULL, N'Абрамович Анжелика Эминовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (134, NULL, N'Канунникова Глафира Богдановна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (135, NULL, N'Казнов Ефрем Сергеевич', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (136, NULL, N'Юневич Игорь Олегович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (137, NULL, N'Кунаковский Адам Агапович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (138, NULL, N'Усатов Федот Трофимович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (139, NULL, N'Гунин Валентин Артёмович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (140, NULL, N'Папенин Рафаэль Даниярович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (141, NULL, N'Чалый Ипполит Еремеевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (142, NULL, N'Плахтюрин Павел Адамович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (143, NULL, N'Шульгин Прохор Родионович', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (144, NULL, N'Зотов Мирослав Ираклиевич', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (145, NULL, N'Андреюшкина Мариам Владиленовна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (146, NULL, N'Чеботарева Марина Матвеевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (147, NULL, N'Цельнера Евангелина Федотовна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (148, NULL, N'Бабанова Александра Владимировна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (149, NULL, N'Грачёва Мирослава Андреевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (150, NULL, N'Набиуллина Альфия Матвеевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (151, NULL, N'Иванов Иван Иванович', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (152, NULL, N'Иванов Иван Иванович', NULL)
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (153, NULL, N'Сергеев Сергей', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (154, 5, N'Сергеев Сергей', NULL)
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (155, 7, N'Блинова Софья Павловна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (156, 8, N'Блинова Софья Павловна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (157, 9, N'Блинова Софья', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (158, 10, N'Васильева', NULL)
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (159, 11, N'Васильева Анна Николаевна', NULL)
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (160, 11, N'Васильева Анна Николаевна', N'нет')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (161, 11, N'Васильева Анна Николаевна', N'да')
INSERT [dbo].[Рукопись] ([Номер], [Номер заявки], [ФИОАвтора], [ПринятаВРвботу]) VALUES (162, 13, N'Агеев Сергей Олегович', N'да')
GO

# [dbo].[СоставЗаказа]

In [0]:
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (1, 4, 50)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (1, 36, 65)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (1, 77, 315)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (1, 83, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (2, 36, 3)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (2, 72, 129)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (3, 76, 196)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (4, 36, 7)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (4, 37, 7)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (4, 59, 30)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (5, 57, 331)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (6, 36, 11)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (6, 41, 20)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (6, 44, 4)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (7, 37, 11)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (9, 54, 37)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (10, 36, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (10, 37, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (10, 77, 92)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (12, 36, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (12, 37, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (15, 67, 252)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (16, 41, 201)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (20, 64, 25)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (21, 47, 154)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (23, 54, 293)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (24, 37, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (25, 41, 108)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (26, 52, 101)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (27, 64, 195)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (28, 36, 3)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (30, 61, 384)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (33, 47, 478)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (34, 39, 154)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (36, 36, 100)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (37, 74, 218)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (38, 73, 312)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (39, 2, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (39, 44, 56)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (40, 4, 290)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (42, 49, 315)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (45, 53, 496)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (46, 51, 153)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (47, 36, 3)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (47, 37, 3)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (49, 67, 336)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (51, 37, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (51, 63, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (52, 74, 187)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (53, 73, 201)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (54, 48, 243)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (55, 56, 267)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (56, 63, 40)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (57, 36, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (61, 41, 350)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (62, 55, 308)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (64, 1, 351)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (65, 48, 238)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (66, 77, 42)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (67, 59, 413)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (68, 38, 28)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (70, 57, 67)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (72, 58, 193)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (74, 36, 6)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (76, 78, 118)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (78, 2, 461)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (79, 56, 366)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (80, 41, 4)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (80, 65, 276)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (81, 51, 34)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (83, 59, 116)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (84, 36, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (84, 37, 4)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (84, 41, 4)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (85, 80, 304)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (86, 36, 3)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (86, 41, 4)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (87, 36, 12)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (87, 37, 10)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (88, 36, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (88, 37, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (89, 36, 5)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (91, 1, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (91, 36, 5)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (92, 1, 10)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (92, 36, 2)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (93, 1, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (93, 2, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (93, 4, 1)
INSERT [dbo].[СоставЗаказа] ([НомерЗаказа], [IDКниги], [КолвоКниг]) VALUES (93, 35, 1)
GO

# [dbo].[Сотрудник]

In [0]:
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (1, N'Казючиц Арсен Ерофеевич', N'Редактор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (2, N'Капп Лаврентий Серафимович', N'Старший редактор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (3, N'Милехин Валерий Богданович', N'Корректор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (5, N'Погребнова Фаина Евгеньевна', N'Редактор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (6, N'Крыжова Ева Федоровна', N'Дизайнер')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (7, N'Нюхтилин Измаил Федотович', N'Иллюстратор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (8, N'Яценко Евстигней Григориевич', N'Иллюстратор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (9, N'Новоселов Стефан Вадимович', N'Дизайнер ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (10, N'Гулин Станислав Панкратиевич', N'Менеджер ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (11, N'Борхеса Нелли Стефановна', N'Менеджер ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (12, N'Татаринов Константин Алексеевич', N'Менеджер ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (13, N'Рыжкова Оливия Константиновна', N'Креативный директор ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (14, N'Полевщиков Камиль Сергеевич', N'Директор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (15, N'Белоусова Лейла Святославовна', N'Стажёр')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (16, N'Дуров Пимен Трофимович', N'Стажёр')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (17, N'Урбановский Моисей Юрьевич', N'Стажёр ')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (18, N'Шипеева Яна Васильевна', N'Рекламщик')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (19, N'Балаев Трофим Янович', N'Рекламщик')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (20, N'Чекмарёва Амира Давидовна', N'Художник')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (21, N'Корнейчука Марта Камильевна', N'Редактор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (22, N'Достоевский Артемий Арсениевич', N'Редактор спецпроектов')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (23, N'Подколодный Феликс Никифорович', N'Арт-директор')
INSERT [dbo].[Сотрудник] ([Номер], [ФИО], [Должность]) VALUES (24, N'Тесла Евграф Ипполитович', N'Корректор')
GO

# [UQ__Автор__FB896D39048B672D]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Автор__FB896D39048B672D]    Script Date: 20.02.2023 17:31:15 ******/
ALTER TABLE [dbo].[Автор] ADD UNIQUE NONCLUSTERED 
(
	[НомерТелефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

# [UQ__Клиент__FB896D394E378852]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Клиент__FB896D394E378852]    Script Date: 20.02.2023 17:31:15 ******/
ALTER TABLE [dbo].[Клиент] ADD UNIQUE NONCLUSTERED 
(
	[НомерТелефона] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

# [DF__Договор__ДатаЗак__571DF1D5]

In [0]:
ALTER TABLE [dbo].[Договор] ADD  DEFAULT (getdate()) FOR [ДатаЗаключения]
GO

# [DF__Заказ__ДатаЗаказ__4CA06362]

In [0]:
ALTER TABLE [dbo].[Заказ] ADD  CONSTRAINT [DF__Заказ__ДатаЗаказ__4CA06362]  DEFAULT (getdate()) FOR [ДатаЗаказа]
GO

# [DF__Заказ__ТипОплаты__4D94879B]

In [0]:
ALTER TABLE [dbo].[Заказ] ADD  CONSTRAINT [DF__Заказ__ТипОплаты__4D94879B]  DEFAULT ('Перевод') FOR [ТипОплаты]
GO

# [DF__Книга__Переплёт__4316F928]

In [0]:
ALTER TABLE [dbo].[Книга] ADD  DEFAULT ('Твёрдая') FOR [Переплёт]
GO

# [DF__Книга__Обложка__440B1D61]

In [0]:
ALTER TABLE [dbo].[Книга] ADD  DEFAULT ('Твёрдая') FOR [Обложка]
GO

# [FK__Договор__НомерРу__59063A47]

In [0]:
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD  CONSTRAINT [FK__Договор__НомерРу__59063A47] FOREIGN KEY([НомерРукописи])
REFERENCES [dbo].[Рукопись] ([Номер])
GO
ALTER TABLE [dbo].[Договор] CHECK CONSTRAINT [FK__Договор__НомерРу__59063A47]
GO

# [FK__Договор__ФИОАвто__59FA5E80]

In [0]:
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD FOREIGN KEY([ФИОАвтора])
REFERENCES [dbo].[Автор] ([ФИО])
GO

# [FK__Заказ__IDКлиента__4F7CD00D]

In [0]:
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [FK__Заказ__IDКлиента__4F7CD00D] FOREIGN KEY([IDКлиента])
REFERENCES [dbo].[Клиент] ([Id])
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [FK__Заказ__IDКлиента__4F7CD00D]
GO

# [FK__Книга__Автор__45F365D3]

In [0]:
ALTER TABLE [dbo].[Книга]  WITH CHECK ADD FOREIGN KEY([Автор])
REFERENCES [dbo].[Автор] ([ФИО])
GO

# [FK__Книга__НомерРуко__46E78A0C]

In [0]:
ALTER TABLE [dbo].[Книга]  WITH CHECK ADD  CONSTRAINT [FK__Книга__НомерРуко__46E78A0C] FOREIGN KEY([НомерРукописи])
REFERENCES [dbo].[Рукопись] ([Номер])
GO
ALTER TABLE [dbo].[Книга] CHECK CONSTRAINT [FK__Книга__НомерРуко__46E78A0C]
GO

# [FK__Работа__IDКниги__5EBF139D]

In [0]:
ALTER TABLE [dbo].[Работа]  WITH CHECK ADD FOREIGN KEY([IDКниги])
REFERENCES [dbo].[Книга] ([ID])
GO

# [FK__СоставЗак__IDКни__5441852A]

In [0]:
ALTER TABLE [dbo].[СоставЗаказа]  WITH CHECK ADD  CONSTRAINT [FK__СоставЗак__IDКни__5441852A] FOREIGN KEY([IDКниги])
REFERENCES [dbo].[Книга] ([ID])
GO
ALTER TABLE [dbo].[СоставЗаказа] CHECK CONSTRAINT [FK__СоставЗак__IDКни__5441852A]
GO

# [FK__СоставЗак__Номер__534D60F1]

In [0]:
ALTER TABLE [dbo].[СоставЗаказа]  WITH CHECK ADD  CONSTRAINT [FK__СоставЗак__Номер__534D60F1] FOREIGN KEY([НомерЗаказа])
REFERENCES [dbo].[Заказ] ([Номер])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[СоставЗаказа] CHECK CONSTRAINT [FK__СоставЗак__Номер__534D60F1]
GO

# [CK__Автор__Пол__3B75D760]

In [0]:
ALTER TABLE [dbo].[Автор]  WITH CHECK ADD CHECK  (([пол]='м' OR [пол]='ж'))
GO

# [CK__Договор__Тираж__5812160E]

In [0]:
ALTER TABLE [dbo].[Договор]  WITH CHECK ADD CHECK  (([Тираж]>(0)))
GO

# [CK__Заказ__ОбщаяСтои__4E88ABD4]

In [0]:
ALTER TABLE [dbo].[Заказ]  WITH CHECK ADD  CONSTRAINT [CK__Заказ__ОбщаяСтои__4E88ABD4] CHECK  (([ОбщаяСтоимость]>(-0.5)))
GO
ALTER TABLE [dbo].[Заказ] CHECK CONSTRAINT [CK__Заказ__ОбщаяСтои__4E88ABD4]
GO

# [CK__Книга__КолвоСтра__4222D4EF]

In [0]:
ALTER TABLE [dbo].[Книга]  WITH CHECK ADD CHECK  (([КолвоСтраниц]>(0)))
GO

# [CK__Книга__Стоимость__44FF419A]

In [0]:
ALTER TABLE [dbo].[Книга]  WITH CHECK ADD CHECK  (([Стоимость]>(0)))
GO

# [CK__Рукопись__Принят__3E52440B]

In [0]:
ALTER TABLE [dbo].[Рукопись]  WITH CHECK ADD  CONSTRAINT [CK__Рукопись__Принят__3E52440B] CHECK  (([ПринятаВРвботу]='да' OR [ПринятаВРвботу]='нет'))
GO
ALTER TABLE [dbo].[Рукопись] CHECK CONSTRAINT [CK__Рукопись__Принят__3E52440B]
GO

# [CK__СоставЗак__Колво__52593CB8]

In [0]:
ALTER TABLE [dbo].[СоставЗаказа]  WITH CHECK ADD  CONSTRAINT [CK__СоставЗак__Колво__52593CB8] CHECK  (([КолвоКниг]>(0)))
GO
ALTER TABLE [dbo].[СоставЗаказа] CHECK CONSTRAINT [CK__СоставЗак__Колво__52593CB8]
GO

# [dbo].[addavtor]

In [0]:
/****** Object:  StoredProcedure [dbo].[addavtor]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addavtor] @fio varchar(100), @nomer varchar(20), @pol char(1), @x int output
as
begin
set @x=0
if exists (select * from Автор where ФИО=@fio)
set @x=1

if @x=0
insert into  Автор (ФИО, Пол, НомерТелефона) values ( @fio, @pol, @nomer)
end
GO

# [dbo].[addclient]

In [0]:
/****** Object:  StoredProcedure [dbo].[addclient]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addclient] @fio varchar(100), @nomer varchar(20), @x int output
as
begin
set @x=0
if exists (select * from Клиент where ФИО=@fio)
set @x=1
if @x=0
begin
declare @id int
select @id=max(id) from Клиент
set @id=@id+1
insert into Клиент  (id, ФИО, НомерТелефона) values (@id, @fio, @nomer)
end
end
GO

# [dbo].[adddogov]

In [0]:
/****** Object:  StoredProcedure [dbo].[adddogov]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[adddogov] @num int, @data date, @plata real, @t int, @x int output, @id int output, @avtor varchar(100) output
as
begin
set @x=0
if not exists (select * from Рукопись where @num=Номер and ПринятаВРвботу='да')
set @x=1

if exists (select * from Договор where @num=НомерРукописи )
set @x=2

if @x=0
begin 

select @id=max(Номер) from Договор
set @id=@id+1

select @avtor=ФИОАвтора from Рукопись where Номер=@num
insert into Договор (Номер, НомерРукописи, ФИОАвтора, ДатаЗаключения, ОплатаАвтору, Тираж) values (@id, @num, @avtor, @data, @plata, @t)
end
end
GO

# [dbo].[addition]

In [0]:
/****** Object:  StoredProcedure [dbo].[addition]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addition] 
@nazv varchar(100), @nomer int, @str int, @perep varchar(30), @obl varchar(30), @stoim real, @x int OUTPUT 
AS
BEGIN 
set @x=0
if @stoim<0
set @x=1;

if not exists (select * from Договор where  НомерРукописи=@nomer)
set @x=4;
if @x=0
begin
declare @avtor varchar(100) 
select @avtor = ФИОАвтора from Договор where @nomer=НомерРукописи
declare @id int
select @id = max(ID) from Книга
set @id=@id+1
insert into Книга (ID, Название, Автор, НомерРукописи, КолвоСтраниц,Переплёт, Обложка,Стоимость) values (@id, @nazv, @avtor,  @nomer, @str, @perep, @obl, @stoim)
set @x=0
end
end
GO

# [dbo].[addru]

In [0]:
/****** Object:  StoredProcedure [dbo].[addru]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addru] @id int, @x int output
as
begin
set @x=0
if not exists (select * from Заявка where НомерЗаявки=@id)
set @x=1 

if exists (select [Номер заявки] from Рукопись where [Номер заявки]=@id )
set @x=2



if @x=0
begin 
declare @num int
declare @fio varchar(100)
select @fio=ФИО from Заявка where НомерЗаявки=@id
select @num=max(Номер) from Рукопись
set @num=@num+1
insert into Рукопись (Номер,[Номер заявки], ФИОАвтора) values (@num, @id, @fio)
end
end
GO

# [dbo].[addsotr]

In [0]:
/****** Object:  StoredProcedure [dbo].[addsotr]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addsotr] @fio varchar(100), @dol varchar(50), @x int output
as
begin
set @x=0
if exists (select * from Сотрудник where ФИО=@fio)
set @x=1
if @x=0
begin
declare @id int
select @id=max(Номер) from Сотрудник
set @id=@id+1
insert into Сотрудник(Номер, ФИО, Должность) values (@id, @fio, @dol)
end
end
GO

# [dbo].[addwork]

In [0]:
/****** Object:  StoredProcedure [dbo].[addwork]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addwork] @book int, @fio varchar(100), @tip varchar(20), @x int output
as begin 
set @x=0

if not exists (select * from Сотрудник where ФИО=@fio)
set @x=1

if not exists (select * from Книга  where ID=@book)
set @x=2

declare @sotr1 varchar(100)
select @sotr1=Номер from Сотрудник where ФИО=@fio

if exists (select * from Работа  where IDКниги=@book and @sotr1=НомерСотрудника and @tip=ТипРаботы)
set @x=3


if @x=0
begin
declare @id int
select @id=max(ID) from Работа
set @id=@id+1
declare @sotr varchar(100)
select @sotr=Номер from Сотрудник where ФИО=@fio
insert into Работа values (@id,@book, @sotr, @tip,null)
end
end
GO

# [dbo].[addzakaz]

In [0]:
/****** Object:  StoredProcedure [dbo].[addzakaz]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addzakaz] @fio varchar(100), @data date, @tip varchar(20),@x int output
as begin 
set @x=0

if not exists (select * from Клиент where ФИО=@fio )
set @x=1

if @x=0
begin 
declare @id int
select @id=max(Номер) from Заказ
set @id=@id+1
declare @cl int
select @cl= id from Клиент where ФИО=@fio
insert into Заказ(Номер, IDКлиента, ДатаЗаказа, ТипОплаты, ОбщаяСтоимость) values (@id, @cl, @data, @tip, 0) 
end
end
GO

# [dbo].[delavtor]

In [0]:
/****** Object:  StoredProcedure [dbo].[delavtor]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delavtor] @fio varchar(100), @x int output
as
begin 
set @x=0
if @fio not in (select ФИО from Автор where ФИО=@fio)
set @x=1
if @x=0
delete from Автор where ФИО=@fio
end
GO

# [dbo].[delclient]

In [0]:
/****** Object:  StoredProcedure [dbo].[delclient]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[delclient] @id int, @x int output
as
begin 
set @x=0
if @id not in (select id from Клиент where id=@id)
set @x=1
if @x=0
delete from Клиент where id=@id
end
GO

# [dbo].[delition]

In [0]:
/****** Object:  StoredProcedure [dbo].[delition]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[delition] @id int, @x int output
AS
BEGIN 
set @x=0
if @id not in (select ID from Книга where ID=@id)
set @x=1
else 
delete from Книга where ID=@id
END
GO

# [dbo].[delsotr]

In [0]:
/****** Object:  StoredProcedure [dbo].[delsotr]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[delsotr] @fio varchar(100), @x int output
as
begin 
set @x=0
if @fio not in (select ФИО from Сотрудник where ФИО=@fio)
set @x=1
declare @id int
select @id=Номер from Сотрудник where @fio=ФИО
  if exists (select * from Работа where НомерСотрудника=@id)
set @x=2
if @x=0
delete from Сотрудник where ФИО=@fio
end
GO

# [dbo].[delzakaz]

In [0]:
/****** Object:  StoredProcedure [dbo].[delzakaz]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[delzakaz] @id int, @x int output
as
begin 
set @x=0
if @id not in (select Номер from Заказ where Номер=@id)
set @x=1
if @x=0
delete from Заказ where Номер=@id
end
GO

# [dbo].[polavto]

In [0]:
/****** Object:  StoredProcedure [dbo].[polavto]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[polavto] @fio varchar(100), @pol char(1), @x int output
as
begin 
set @x=0
if @fio not in (select ФИО from Автор where ФИО=@fio)
set @x=1
if @x=0
update Автор set Пол=@pol where ФИО=@fio
end
GO

# [dbo].[sost]

In [0]:
/****** Object:  StoredProcedure [dbo].[sost]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sost] @id int, @idk int, @kol int, @x int output
as begin 
declare @sum int
declare @p int 
declare @obsum int

select @p=Стоимость from Книга where ID=@idk
set @sum = @kol * @p
declare @old int 
select @old = ОбщаяСтоимость from Заказ where Номер=@id
set @obsum = @old + @sum



set @x=0
if @id not in (select @id from Заказ) 
set @x=1
if not exists (select ID from Книга where ID=@idk)
set @x=2
if exists (select * from СоставЗаказа where @id=НомерЗаказа and @idk=IDКниги )
begin 
set @x=4
declare @s int
select @s=КолвоКниг from СоставЗаказа where  IDКниги=@idk and @id=НомерЗаказа
set @s=@s+@kol
update СоставЗаказа set КолвоКниг=@s where IDКниги=@idk and @id=НомерЗаказа
update Заказ set ОбщаяСтоимость=@obsum where Номер=@id
end

if @x=0
begin 

insert into СоставЗаказа (НомерЗаказа, IDКниги, КолвоКниг) values (@id, @idk,@kol)
update Заказ set ОбщаяСтоимость=@obsum where Номер=@id
end 
end
GO

# [dbo].[updateavtor]

In [0]:
/****** Object:  StoredProcedure [dbo].[updateavtor]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateavtor] @fio varchar(100), @newnomer varchar(20), @x int output
as
begin 
set @x=0
if @fio not in (select ФИО from Автор where ФИО=@fio)
set @x=1
if @x=0
update Автор set НомерТелефона=@newnomer where ФИО=@fio
end
GO

# [dbo].[updateclient]

In [0]:
/****** Object:  StoredProcedure [dbo].[updateclient]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updateclient] @id int, @newnomer varchar(20), @x int output
as
begin 
set @x=0
if @id not in (select id from Клиент where id=@id)
set @x=1
if @x=0
update Клиент set НомерТелефона=@newnomer where id=@id
end
GO

# [dbo].[updateru]

In [0]:
/****** Object:  StoredProcedure [dbo].[updateru]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updateru] @num int, @st varchar(5), @x int output
as
begin
set @x=0
if not exists (select * from Рукопись where Номер=@num)
set @x=1
if @x=0
update Рукопись set ПринятаВРвботу=@st where Номер=@num
end
GO

# [dbo].[updatesotr]

In [0]:
/****** Object:  StoredProcedure [dbo].[updatesotr]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[updatesotr] @fio varchar(100), @newdol varchar(30), @x int output
as
begin 
set @x=0
if @fio not in (select ФИО from Сотрудник where ФИО=@fio)
set @x=1
if @x=0
update Сотрудник set Должность=@newdol where ФИО=@fio
end
GO

# [dbo].[updatework]

In [0]:
/****** Object:  StoredProcedure [dbo].[updatework]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatework] @id int, @data date, @x int output
as begin
if not exists (select * from Работа where ID=@id)
set @x=1
else 
begin
set @x=0
update Работа set ДатаОкончания=@data where ID=@id

end
end
GO

# [dbo].[zavka]

In [0]:
/****** Object:  StoredProcedure [dbo].[zavka]    Script Date: 20.02.2023 17:31:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[zavka] @fio varchar(100), @nomer varchar(100), @ssilka varchar(100), @x int output
as
begin
declare @id int
select @id=max(НомерЗаявки) from Заявка
set @id = @id+1
insert into Заявка (НомерЗаявки, ФИО, Телефон, Ссылка) values (@id,@fio,@nomer,@ssilka)
if not exists (select * from Автор where ФИО=@fio)
insert into Автор (ФИО, НомерТелефона) values (@fio, @nomer)
set @x=1
end
GO

# [MS_DiagramPane1]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Работа"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 272
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Сотрудник"
            Begin Extent = 
               Top = 136
               Left = 326
               Bottom = 277
               Right = 527
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Книга"
            Begin Extent = 
               Top = 7
               Left = 569
               Bottom = 170
               Right = 777
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'show'
GO

# [MS_DiagramPaneCount]

In [0]:
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'show'
GO

# [Издательство]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Издательство] SET  READ_WRITE 
GO